## The Pandas DataFrame: Làm cho việc làm với data trở nên thú vị
   # Mục lục:
<h2 slot='sh-1-1'>Giới thiệu Pandas DataFrame</h2>
<h3 slot='sh-1-1'>Tạo một Pandas DataFrame</h3>
 <p>Tạo một Pandas DataFrame với Dictinaries</p >
 <p>Tạo một Pandas DataFrame với List</p >
 <p>Tạo một Pandas DataFrame với Numpy Arrays</p >
 <p>Tạo một Pandas DataFrame với File</p >
 
<h3 slot='sh-1-1'>Truy xuất nhãn và dữ liệu</h3>
    <p>Pandas DataFrame dưới dạng chuỗi</p >
    <p>Dữ liệu với Numpy Arrays</p >
    <p>Kiểu dữ liệu</p >
    <p>Kích thước Pandas DataFrame</p>
    
    
<h3 slot='sh-1-1'>Truy cập và sửa đổi dữ liệu</h3>
    <p>Lấy dữ liệu với người truy cập/p >
    <p>Cài đặt dữ liệu với người truy cập</p >
    
    
<h3 slot='sh-1-1'>Chèn và xóa dữ liệu</h3>
    <p>Chèn và cóa các cột</p >
    <p>Chèn và xóa các hàng</p >
    
<h3 slot='sh-1-1'>Tạo một Pandas DataFrame</h3>
<h3 slot='sh-1-1'>Áp dụng các phép tính số học</h3>
<h3 slot='sh-1-1'>Áp dụng cho Numpy và Scipy</h3>
<h3 slot='sh-1-1'>Sắp xếp một Pandas DataFrame</h3>
<h3 slot='sh-1-1'>Lọc dữ liệu</h3>
<h3 slot='sh-1-1'>Xác định số liệu thống kê dữ liệu</h3>
<h3 slot='sh-1-1'>Xử lí dữ liệu bị sai</h3>
    <p>Tính toán với dữ liệu bị sai</p >
    <p>Đổ </p >
    
<h3 slot='sh-1-1'>Xác định số liệu thống kê dữ liệu</h3>
<h3 slot='sh-1-1'>Lặp lại trên Pandas DataFrame</h3>
<h3 slot='sh-1-1'>Làm việc với Time Series</h3>
<h3 slot='sh-1-1'>Đọc thêm</h3>
<h3 slot='sh-1-1'>Kết luận</h3>

-------------------------------------------------------------------------

Pandas DataFranme là một cấu trúc 2 chiều dữ liệu tương ứng với các nhãn của nó.DataFrame được sữ dụng rộng rãi trọng data science, machine learning, scientific computing, và nhiều lĩnh vực dữ liệu chuyên sâu.Data giống với SQL tables hoặc bảng tính mà bạn làm việc với Excel hoặc Calc. Trong nhiều trường hợp, DataFame nhanh hơn, và dễ sử dụng hơn. Mạnh hơn so với bảng hoặc bảng tính bởi vì chúng là một phần không thể thiếu của hệ sinh thái Python và Numpy 
-Trong hướng dân này, bạn sẽ học:
    *Pandas DataFrame là cái gì? và nó sử dụng như thế nào.
    *Cách truy cập, sửa đổi, thêm, sắp xếp, lọc, và xóa dữ liệu.
    *Cách xữ lý dữ liệu bị thiếu.
    *cách làm việc với time-series data.
    *cách hình dung hóa dữ liệu một cách nhanh chóng.
### Đến lúc bắt đầu với Pandas DataFrame !!

# Giới thiệu Pandas DataFrame
Pandas DataFrame là một cấu trúc dữ liệu mà nó chứa đựng :
    <ol>-Dữ liệu: sắp xếp theo 2 chiều, hàng và cột</ol>
    <ol>-Nhãn: mà nó tương ứng với các hàng và cột</ol>
    <ol>-Bạn có thể bắt đầu làm việc với DataFrame bằng cách import Pandas</ol>

In [1247]:
import pandas as pd

<ol>Bây giờ bạn đã có Pandas, bạn đã có thể làm việc với DataFrame.</ol>

<ol>Hình dùng bạn đang dùng Pandas để phân tích dữ liệu về các ứng viên công việc cho ví trị phát triển ứng dụng Web với Python. Bạn quan tâm về names, cities, ages, and  score, py-score </ol>

***

<ol>Trong bảng này, hàng đầu tiên chứa nhãn của cột(name, city, age, and py-score). Cột đầu tiên chứa nhãn của các hàng(101, 102,...).Tất cả ô khác được chứa dùng để chứa giá trị dữ liệu.</ol>
<ol>Bây giờ bạn có mọi thứ bạn cần để tạo một Pandas DataFrame.</ol>
<ol>Đây là một vài cách để tạo Pandas DataFrame. Trong nhiều trường hợp, bạn sẽ dùng (cấu trúc DataFrame) và cung cấp dữ liệu, nhãn, và các thông tin khác.(Bạn có thế chyển dữ liệu dưới dạng 2 chiều list,tuple, hoặc Numpy Array. Bạn cũng có thể chuyển nó dưới dạng dictionary hoặc Pandas Series hoặc một số kiểu dữ liệu khác không bao gồm trong hướng dẫn này. </ol>
<ol>Đối với ví dụ này, giả sử bạn đang dùng dictionary để chuyển dữ liệu</ol>

In [1248]:
import pandas as pd
data = {
    'name' : ["Nam", "Hiếu", "jack", "Thìn", "Hải", "Quân"],
    'city' : ["Vn","Korea", "Fr", "Laos","Phips", "Jp"],
    "age"  : [41, 28, 33, 34, 38, 31],
    'score': [10.0, 9.0, 7.0, 9.0, 7.0, 1.0]
}
row_lables = [1, 2, 3, 4 , 5, 6]

<ol>data là một biến trong Python mà nó đề cập trong dictionary mà ní chứa dữ liệu ứng viên</ol>
<ol>'name'</ol>
<ol>'city</ol>
<ol>'age</ol>
<ol>'score'</ol>
<ol>Cuối cùng, row_labels đề cập đến một list mà nó chứa nhãn của các hàng, đó là các con số sắp xêp từ 1 đến 6.</ol>
<ol>Bây giờ, bạn đã sẵn sàng để tạo một Pandas DataFrame</ol>

In [1249]:
df = pd.DataFrame(data= data, index= row_lables)
df

   name   city  age  score
1   Nam     Vn   41   10.0
2  Hiếu  Korea   28    9.0
3  jack     Fr   33    7.0
4  Thìn   Laos   34    9.0
5   Hải  Phips   38    7.0
6  Quân     Jp   31    1.0

Đây rồi! df là một biến mà nó tham chiếu đến Pandas DataFrame của bạn. Pandas DataFrame này giống như ở bảng ứng viên ở trên và có các đặc điểm sau
   <ol>- Row labels từ 1 đến 6</ol>
   <ol>- Column labels như là 'name', 'city', 'age', 'score'</ol>
   <ol>- Data như là ứng viên name, các thành phố, tuổi, và score</ol>

Hình này cho thấy nhãn và dữ liệu từ df:

image

<ol>row labels có màu xanh, trong khi column labels có màu đỏ và giá trị dữ liệu là màu tím.</ol>
<ol>Pandas DataFrame đôi khi rất là lớn, làm cho nó không thực tế để nhìn hết tất cả các hàng cùng một lúc. Bạn có thể dùng head() để nhìn thấy một vài hàng đầu, và tail() để nhìn một vài hàng cuối</ol>

In [1250]:
head = df.head(n= 2)
head

   name   city  age  score
1   Nam     Vn   41   10.0
2  Hiếu  Korea   28    9.0

In [1251]:
tail = df.tail(n= 2)
tail

   name   city  age  score
5   Hải  Phips   38    7.0
6  Quân     Jp   31    1.0

Đó là cách bạn có thể hiển thị phần đầu và phần cuối của một Pandas DataFrame. Parameter n chỉ định các số của hàng để xem.
<ol>Note: Nó có lẻ hữu ích để nghĩ về Pandas DataFrame như là cột của dictionary hoặc Pandas Series, cùng nhiều đặc trưng bổ sung</ol>
Bạn có thể truy cập một cột trong Pandas DataFrame giống như bạn lấy giá trị từ dictionary.</ol>

In [1252]:
cities = df['city']
cities

1       Vn
2    Korea
3       Fr
4     Laos
5    Phips
6       Jp
Name: city, dtype: object

* Đó là cách thuận tiện nhất để lấy 1 cột từ Pandas DataFrame. ......... *

In [1253]:
df.city

1       Vn
2    Korea
3       Fr
4     Laos
5    Phips
6       Jp
Name: city, dtype: object

Đó là cách bạn lấy một cột cụ thể. Bạn đã trích cột mà liên quan đển nhãn 'city'.Trong đó chứa đụng ví trí của tất cả ứng viên công việc của bạn. Điều quan trọng cần lưu ý là bạn trích 2 dữ liệu nhãn tương ứng.

Image

Mỗi cột của DataFrame là một đối tướng của pandas.series, một cấu trúc mà chứa 1 chiều dữ liệu và nhãn của nó. Bạn có thể lấy một đối tướng duy nhất của Series như cách bạn làm với dictionary, bằng cách dùng nhãn nó như key.

In [1254]:
city1 = df.city[1]
city1

'Vn'

Trong trường hợp, 'Vn' là giá trị dữ liệu và 1 có liên quan đến nhãn. Như bạn sẽ thấy trong phần sau, ở đó có cách khác để lấy giá trị cụ thể trong Pandas DataFrame. Bạn vẫn có thể truy cập toàn bộ hàng cùng .loc[]

In [1255]:
row1 = df.loc[1]
row1

name     Nam
city      Vn
age       41
score     10
Name: 1, dtype: object

Lúc này, bạn trích hàng mà có liên quan đến nhãn 1, trong đó chứa đứng dữ liệu của ứng viên tên là 'Nam'. Ngoài giá trị dữ liệu từ hàng, bạn đã trích nhãn có liên quan đến cột.

image

Hàng trả về cũng là một thuộc tính của pandas.Series

# Creating a Pandas DataFrame

Như đã đề cập, ở đây là một vài cách để tạo Pandas DataFrame. Trong phần này, Bạn sẽ dùng cấu trúc DataFrame cùng với:
    *Python dictionaries
    *Python lists
    *Two-dimension Numpy arrays
    *file
Bạn có thể bắt đầu bằng việc import Pandas cùng với Numpy, trong đó bạn sẽ dùng xuyên suốt ví dụ:

In [1256]:
import numpy as np
import pandas as pd

Bây giờ bạn sẽ sàng để tạo một vài DataFrame

## Tạo một Pandas DataFrame cùng với Dictionaries

Như bạn đã thấy, bạn có thể tạo một Pandas DataFrame cùng với dictionary

In [1257]:
d = {'x': [1, 2, 4], 'y': np.array([10, 11, 12]), 'z': 100}
pd.DataFrame(d)

   x   y    z
0  1  10  100
1  2  11  100
2  4  12  100

keys của dictionary là các nhãn cột của DataFrame, và giá trị thư viện là các giá trị dữ liệu liên quan đến cột của DataFrame.  Giá trị có thể bao gồm tuple, list, Numpy một chiều, Pandas Series, hoặc một vài kiểu dữ liệu khác. Bạn cũng có thể cung cấp một giá trị duy nhất mà nó sẽ sao chép toàn bộ cột. Có thể điều khiển thứ tự  với parameter nhãn của hàng và cột với index

In [1258]:
pd.DataFrame(d, index= [100, 101, 102], columns= ['z', 'y', 'x'])

       z   y  x
100  100  10  1
101  100  11  2
102  100  12  4

Như bạn có thể thấy, bạn đã cụ thể nhãn hàng là 100, 101, 102. Và thứ tự của cột là: z, y, x

# Tạo một Pandas DataFrame với List

Cách khác để tạo ra Pandas DataFrame là dùng một list của dictionaries

In [1259]:
lst = [
    {'x': 1, 'y': 2, 'z': 3},
    {'x': 'k', 'y': 'h', 'z':'y'},
    {'x': 2, 'y': 10, 'z': 100}
]
pd.DataFrame(lst)

   x   y    z
0  1   2    3
1  k   h    y
2  2  10  100

Lần nữa, keys của dictionary là các nhãn cột, và giá trị của dictionary là các giá trị trong DataFrame.

Bạn cũng có thể dùng list lồng, hoặc list của list, như là các giá trị dữ liệu. Nếu bạn làm,  thì nên chỉ định rõ ràng nhãn của cột và hàng hoặc cả 2 khi bạn tạo DataFrame.

In [1260]:
lst = [
    [1, 2, 3],
    [2, 4, 5],
    [2, 4, 1]
]
pd.DataFrame(lst, columns= ['x', 'y', 'z'])

   x  y  z
0  1  2  3
1  2  4  5
2  2  4  1

Đó là cách bạn có thể dùng list lồng đê tạo một Pandas DataFrame. Bạn cũng có thể dùng 1 list của tuples bằng cách giống như vậy. Để làm, chỉ cần thay thế list lồng trong ví dụ trên với tuples.

# Tạo 1 Pandas DataFrame với Numpy Arrays
Bạn có thể chuyển Numpy Array 2 chiều đến cấu trúc DataFrame bằng cách giống như bạn làm với list.

In [1261]:
arr = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [1, 2, 1]
])
df = pd.DataFrame(arr, columns=['x', 'y', 'z' ])
df

   x  y  z
0  1  2  3
1  4  5  6
2  1  2  1

Mặc dù ví dụ này trông hầu như giống như là list lồng  thực hiện ở trên, nó có một lợi thế. Bạn có thể chỉ định copy parameter tùy ý.
Khi copy thiết lập là False(đó là mặc định), dữ liệu từ Numy array sẽ không được sao chép. Điều đó có nghĩa, dữ liệu gốc đươc từ array được chuyển sao Pandas DataFrame. Nếu bạn sửa đổ array, khi đó DataFrame của bạn sẽ thay đổi theo

In [1262]:
arr[0, 0] = 1000
df

      x  y  z
0  1000  2  3
1     4  5  6
2     1  2  1

Như bạn có thể thấy, khi bạn thay đổi item đầu của arr, bạn cũng sửa đổi df
   ### Note: không sao chép giá trị dữ liệu có thể giúp bạn tiết kiệm một khoảng thời gian và sức mạnh xử lý đang kể khi làm việc với datasets lớn.

Tạo một Pandas DataFrame từ Files. Bạn có thể lưu và load dữ liệu và nhãn từ một Pandas DataFrame đến và mốt số kiểu file, bao gồm CSV, Excel, SQL, JSON và hơn thể nữa. Đó là một đặc tính rất mạnh.
Bạn có thể lưu DataFrame ứng viên công việc từ một CSV file cùng to_csv().

>>> df.to_csv('data.csv')

Câu lệnh ở trên sẽ tạo ra một CSV file được gọi là data.csv trong danh mục làm việc của bạn

<ol>,name,city,age,py-score</ol>
<ol>101,nam,Mexico City,41,88.0</ol></ol>
<ol>102,jack,france,28,79.0</ol>
<ol>103,thin,laos,33,81.0</ol>
<ol>104,quang,campuchia,34,80.0</ol>
<ol>105,long,Manchester,38,68.0 </ol>
<ol>106,hieu,London,31,61.0 </ol>
<ol>107,quy,Osaka,37,84.0 </ol>

Bây giờ bạn có một CSV file cùng với data, bạn có thể load nó cùng với read_csv()

In [1263]:
df = pd.read_csv("data.csv", index_col= 0)
df

       name         city  age  py-score
101  Xavier  Mexico City   41      88.0
102     Ann      Toronto   28      79.0
103    Jana       Prague   33      81.0
104      Yi     Shanghai   34      80.0
105   Robin   Manchester   38      68.0
106    Amal        Cairo   31      61.0
107    Nori        Osaka   37      84.0

Đó là cách bạn lấy một Pandas DataFrame từ một file. Trong trường hợp, index_col=0 chỉ đinh rằng nhãn của hàng ở ví trí đầu của cột của file CSV file.

# Truy xuất nhãn và hàng.
Bây giờ mà bạn đã tạo DataFrame của bạn, bạn có thể bắt đầu truy xuất thông tin  từ nó. Cùng với Pandas, Bạn có thể làm theo những hoạt động sau:
    <ol>*Truy xuất và sửa đổi nhãn hàng và cột theo thứ tự </ol>
    <ol>*Biểu diễn dữ liệu như là Numpy arrays</ol>
    <ol>*Kiểm tra và chỉnh sửa kiểu data</ol>
    <ol>*Phân tích kích cỡ của đổi tượng DataFrame</ol>

# Pandas DataFrame Labels as Sequences
Pandas DataFrame Label sequences.
Bạn có thể lấy hàng DataFrame với .index và nhãn cột với .columns

In [1264]:
df.index

Int64Index([101, 102, 103, 104, 105, 106, 107], dtype='int64')

In [1265]:
df.columns

Index(['name', 'city', 'age', 'py-score'], dtype='object')

Bây giờ bạn có nhãn của hàng và cột là loại sequences đặt biệt. Bạn có thể bất kì Sequence Python khác, bạn có thể lấy duy nhất một item

In [1266]:
df.columns[1]

'city'

Ngoài ra để trích xuẩt một item cụ thể, bạn có thể áp dụng hoạt động trình tự khác, bao gồm lặp lại qua nhãn của hàng hoặc cột. Tuy nhiên, điều đó ít khi cần thiết kể từ khi Pandas đề nghị các khác để lặp qua DataFrame, trong đó bạn sẽ thấy trong phần later.
Bạn cũng có thể tiếp cận sửa đổi nhãn:

In [1267]:
df.index = np.arange(10,  17)
df.index

Int64Index([10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [1268]:
df

      name         city  age  py-score
10  Xavier  Mexico City   41      88.0
11     Ann      Toronto   28      79.0
12    Jana       Prague   33      81.0
13      Yi     Shanghai   34      80.0
14   Robin   Manchester   38      68.0
15    Amal        Cairo   31      61.0
16    Nori        Osaka   37      84.0

Trong ví này này, bạn dùng numpy.arange() để tạo ra một trình tự nhãn hàng mà chưa sự lặp lại từ 10, 16.  Ghi nhớ răng nếu bạn cố gắng sửa đổi một item cụ thể của .index hoặc .columns, khi đó bạn sẽ nhận lỗi TypError.

# Data as Numpy Arrays
Đôi khi bạn có thể muốn trích xuất dữ liệu từ một Pandas DataFrame không có nhãn của nó. Để lấy một Numpy array với  dán nhãn data, hoặc bạn dùng .to_numpy() hoặc .values

In [1269]:
df.to_numpy()

array([['Xavier', 'Mexico City', 41, 88.0],
       ['Ann', 'Toronto', 28, 79.0],
       ['Jana', 'Prague', 33, 81.0],
       ['Yi', 'Shanghai', 34, 80.0],
       ['Robin', 'Manchester', 38, 68.0],
       ['Amal', 'Cairo', 31, 61.0],
       ['Nori', 'Osaka', 37, 84.0]], dtype=object)

Cả 2 cách .to_numpy() và .values làm việc giống nhau, và cả 2 đều trả về một  Numpy array với dữ liệu từ DataFrame.

Image

The Pandas documentation suggests using .to_numpy() because of the flexibility offered by two optional parameters:

dtype: Use this parameter to specify the data type of the resulting array. It’s set to None by default.
copy: Set this parameter to False if you want to use the original data from the DataFrame. Set it to True if you want to make a copy of the data.
However, .values has been around for much longer than .to_numpy(), which was introduced in Pandas version 0.24.0. That means you’ll probably see .values more often, especially in older code.

# Kiểu dữ liệu
Kiểu giá trị dữ liệu, cũng được gọi là data types hoặc dtypes, là quan trọng bởi vì nó xác định dung lượng ram DataFrame của bạn dùng, nó cũng tính toán tốc độ và mức độ chính xác.

*Pandas relies heavily on NumPy data types. However, Pandas 1.0 introduced some additional types:

BooleanDtype and BooleanArray support missing Boolean values and Kleene three-value logic.
StringDtype and StringArray represent a dedicated string type.*

Bạn cũng có thể lấy kiểu dữ liệu một cột của Pandas DataFrame với .dtype:

In [1270]:
df.dtypes

name         object
city         object
age           int64
py-score    float64
dtype: object

Như bạn thấy, .dtypes trả về một Series với tên của cột dưới dạng nhãn và kiểu dữ liệu dưới dạng giá trị
Nếu bạn muốn sửa đổi kiểu dữ liệu của một hoặc hơn của cột, khi đó bạn dùng .astype():

In [1271]:
df_ = df.astype(dtype={'age': np.int32, 'py-score': np.float32})
df_.dtypes

name         object
city         object
age           int32
py-score    float32
dtype: object

The most important and only mandatory parameter of .astype() is dtype. It expects a data type or dictionary. If you pass a dictionary, then the keys are the column names and the values are your desired corresponding data types.

As you can see, the data types for the columns age and py-score in the DataFrame df are both int64, which represents 64-bit (or 8-byte) integers. However, df_ also offers a smaller, 32-bit (4-byte) integer data type called int32.

# Kích cỡ DataFrame Size
Thuốc tính .ndim, .size, and .shape trả về số chiều, số giá trị dữ liệu qua mỗi chiều, và toàn bộ số giá trị dữ liệu,

In [1272]:
df.ndim

2

In [1273]:
df.shape

(7, 4)

In [1274]:
df.size

28

DataFrame là trường hợp có 2 chiều ( hàng và cột), vì vậy .ndim trả về 2. Một object series,  mặt khác, chỉ có một chiều duy nhất,  vì vậy mà trường hợp, .ndim sẽ trả về 1
The thuộc tính .shape trả về một tuple với số dòng và số cột. Cuối cungd, .size trả về  một số nguyên bằng với số giá trị trong DataFrame. Bạn cũng có thể kiểm trả lượng ram đã dùng mỗi cột với .memory_usage()

In [1275]:
df.memory_usage()

Index       56
name        28
city        28
age         56
py-score    56
dtype: int64

Như bạn thấy, .memory_usage() trả về một Series với tên cột với nhãn và memory sử dụng là bytes với giá trị dữ liệu. Nếu bạn muốn  loại trừ ram sử dụng của cột mà nó chưa nhãn hàng thì chuyển argument tùy ý là index = False
Trong ví dụ trên, 2 cột cuối age và py-score, sử dụng 28 bytes mỗi memory. Đó là bởi vì cột của nó có 7 giá trị, mỗi trong đó là số nguyên 32 bits, hoaccwj 4 bytes. 7 số nguyên 4 bytes bằng toàn bột 28 bytes của memory sử dụng

# Truy cập và sửa đổi  dữ liệu.
Bạn đã học cách get một hàng cụ hàng hoặc cột cụ thể của một Pandas DataFrame cũng như Series :

In [1276]:
df['name']

10    Xavier
11       Ann
12      Jana
13        Yi
14     Robin
15      Amal
16      Nori
Name: name, dtype: object

In [1277]:
df.loc[10]

name             Xavier
city        Mexico City
age                  41
py-score             88
Name: 10, dtype: object

Trong ví dụ đầu, bạn truy cập cột 'name' cũng như bạn sẽ truy cập thành phần từ dictionary, bằng cach dùng nhãn của nó bằng key.f the column label is a valid Python identifier, then you can also use dot notation to access the column. In the second example, you use .loc[] to get the row by its label, 10.

# Lấy dữ liệu với Accesors
Ngoài cách truy cập .loc[], đó là bạn có thể lấy hàng hoặc cột bởi nhãn của nó, Pandas đưa trả cái accessor .iloc[], đó là truy cập vào hàng hoặc cột bằng integer index. Phần lớn trường hợp, bạn có thề dùng một trong 2

In [1278]:
df.loc[10]

name             Xavier
city        Mexico City
age                  41
py-score             88
Name: 10, dtype: object

In [1279]:
df.iloc[0]

name             Xavier
city        Mexico City
age                  41
py-score             88
Name: 10, dtype: object

df.iloc[10] trả về hàng cùng với nhãn 10. Tương tự, df.iloc[0] trả về với zero-based index 0, đó là hàng đầu tiên. Như bạn thấy, cả 2 statement trả về hàng giống nhau as a Series object.
Pandas có  toàn bộ 4 cách truy cập:
    1. ilocp[] chấp nhập với nhãn của hàng và cột và trả về Series hoặc DataFrame. Bạn có thể dùng nó để lấy toàn bộ hàng hoặc cột, as well as their parts.
    2. .iloc[] chấp nhận với chỉ số zero-based  của hàng và cột và trả vè Series của DataFrame. Bạn có thể dùng nó để lấy toàn bộ hàng hoặc cột, hoặc một phần của chúng.
    3. at[] chấp nhẫn nhãn của hàng và cột và trả về một giá trị dữ liệu duy nhất
    4. iat] chập nhận một chỉ số zero-based  của hàng và cột và trả về một giá trị dữ liệu duy nhất.
Trong số này, .loc[] và .iloc[]  đặc biệt mạnh mẽ. Chúng hỗ trợ slicing và Numpy-style indexing. Bạn có thể dùng chúng để truy cập một cột

In [1280]:
df.loc[:, 'city']

10    Mexico City
11        Toronto
12         Prague
13       Shanghai
14     Manchester
15          Cairo
16          Osaka
Name: city, dtype: object

In [1281]:
df.iloc[:, 1]

10    Mexico City
11        Toronto
12         Prague
13       Shanghai
14     Manchester
15          Cairo
16          Osaka
Name: city, dtype: object

df.iloc[:, 'city'] trả về cột của city. Cấu trúc slice(:) đặt trong nhãn hàng có nghĩa là tất cả hàng bao gồm. df.iloc[:, 1] trả về một cột bởi vì zero-based index 1 đề cập hàng thứ 2, city
Cũng như bạn có thể làm với Numpy, bạn có thể cung cập slices với lists hoặc arrays thay thế chỉ số để lấy nhiều hàng hoặc cột

In [1282]:
df.loc[11: 15,['name', 'city']]

     name        city
11    Ann     Toronto
12   Jana      Prague
13     Yi    Shanghai
14  Robin  Manchester
15   Amal       Cairo

In [1283]:
df.iloc[1: 6,[0, 1]]

     name        city
11    Ann     Toronto
12   Jana      Prague
13     Yi    Shanghai
14  Robin  Manchester
15   Amal       Cairo

Note: Don’t use tuples instead of lists or integer arrays to get ordinary rows or columns. Tuples are reserved for representing multiple dimensions in NumPy and Pandas, as well as hierarchical, or multi-level, indexing in Pandas.

Trong ví dụ, bạn dùng:
        *slices để lấy hàng cũng với nhãn 11 đến 15, đó là tưởng đương chỉ số từ 1 đến 5
        *List để get cột 'name' và 'city', điều đó tương đương với chỉ từ từ 0 và 1
2 cái trên trả về một Pandas DataFrame với giao điểm mong muốn của 5 hàng và 2 cột.
Điều đó mang lên một khác nhau rất quan trọng giữa .iloc và .iloc[]. Như bạn có thể thây từ ví dụ trước, khi bạn chuyển nhãn hàng 11: 15 đến .iloc, bạn nhận được hàng từ 11 đến 15. Tuy nhiên, khi bạn chuyển chỉ số row 1:6 đến .iloc[] đến .iloc[], bạn chỉ nhận hàng với chỉ số 1 đến 5.
Lý do bạn chỉ nhận chỉ số từ 1 đến 5 là, với .iloc[], stop index của slice là là riêng biệt, nghĩa là nó loại trừ từ giá trị trả về. Điều này thích hơp với Python sequences và Numpy arrays. Với .loc[], tuy nhiên,. cả 2 bắt đầu và dừng lại chỉ số là  bao gồm, nghĩa là chúng bao gồm với giá trị trả về. 
Bạn có thể bỏ qua hàng và cột với .iloc[] cách giống nhau bạn có thể với slicing tuples, lists, and Numpy arrays:

In [1284]:
df.iloc[1: 6: 2, 0]

11     Ann
13      Yi
15    Amal
Name: name, dtype: object

Trong ví dụ này, bạn xác định chỉ số hàng mong muốn với slice 1: 6: 2. Điều này có nghĩa là bạn bắt đầu với hàng mà có index 1(hàng thứ 2), dừng lại trước khi hàng với index 6(hàng thứ 7), và bỏ qua mọi hàng thứ 2
Thay thế cách dùng cấu trúc slice, bạn có thể cũng dùng built-in Python class slice(), cũng như numpy.s_[] hoặc pd.IndexSlice[]

In [1285]:
df.iloc[slice(1, 6, 2), 0]

11     Ann
13      Yi
15    Amal
Name: name, dtype: object

In [1286]:
df.iloc[np.s_[1: 6: 2], 0]

11     Ann
13      Yi
15    Amal
Name: name, dtype: object

In [1287]:
df.iloc[pd.IndexSlice[1:6:2], 0]

11     Ann
13      Yi
15    Amal
Name: name, dtype: object

Bạn sẽ tìm một trong những tiếp cận này thuận tiện hơn tùy thuộc vào tình hình của bạn. Nó khả thi để dùng .iloc và .iloc[] để lấy giá trị dữ liệu cụ thể. Tuy nhiên, khi bạn cần chỉ một giá trị duy nhất, Pandas giới thiệu cách dùng truy cập riêng đó là .at[] và .iat[]

In [1288]:
df.at[12, 'name']

'Jana'

In [1289]:
df.iat[2, 0]

'Jana'

Ở đó, bạn đã dùng .at[] để lấy tên ứng viên duy nhất đang dùng liên quan đến nhãn cột và hàng. Bạn vẫn có thể dùng .iat[] để truy xuất cùng một tên bằng chỉ số cột và hàng

# Thiết lập dữ liệu với người truy cập

In [1290]:
df.loc[:, 'py-score']

10    88.0
11    79.0
12    81.0
13    80.0
14    68.0
15    61.0
16    84.0
Name: py-score, dtype: float64

In [1291]:
df.loc[:13, 'py-score'] = [10, 20, 30, 40]
df.loc[14:, 'py-score'] = 0
df['py-score']

10    10.0
11    20.0
12    30.0
13    40.0
14     0.0
15     0.0
16     0.0
Name: py-score, dtype: float64

Câu lệnh df.loc[:13, 'py-score'] = [10, 20, 30, 40] sửa đổi bốn item đầu ( hàng 10 đến 13) trong cột py-score dùng giá trị từ list cung cập của bạn.Dùng df.loc[14:, 'py-score'] = 0 để thiết lập  giá trị còn lại trong cột bằng 0
Ví dụ sau cho thầy rằng bạn cóp thể dùng chỉ số âm với iloc[] để truy cập và sửa đổi giá trị.

In [1292]:
df.iloc[:, -1] = np.array([88.0, 79.0, 81.0, 80.0, 68.0, 61.0, 84.0])
df['py-score']

10    88.0
11    79.0
12    81.0
13    80.0
14    68.0
15    61.0
16    84.0
Name: py-score, dtype: float64

Trong ví dụ này, bạn đã truy cập và sửa đổi cột cuối('py-score'), điều đó liên quan đến integer column index - 1. Hành vi này thích hợp với Python sequences và Numpy arrays

# Chèn và xóa dữ liệu
python cùng cấp một vài kĩ thuật tiện lợi cho chèn và xóa các hàng và cột. Bạn có thể chọn chúng dựa trên tình hình và sự cần thiết của bạn.
## chèn và xóa các hàng
Hình dùng, bạn muôn thêm một người mới từ list ứng viên công việc của bạn. Bạn có thể bắt đầu bằng việc tạo một new Series object mà nó liên quan đến ứng viên mới.

In [1293]:
john = pd.Series(data=['John', 'Boston', 34, 79], index=df.columns, name=17)
john

name          John
city        Boston
age             34
py-score        79
Name: 17, dtype: object

In [1294]:
john.name

17

Đối tượng mới có nhãn mà liên quan đến nhãn cột  từ df. Chính vì vậy bạn cần index = df.columns